@model FormSubmit.Models.UserViewModel

@{
    ViewData["Title"] = "UserForm";
}

<h1 class="center">User Form</h1>

 
<hr />
<div class="center">
    <div class="col-md-4" style="align-content:center">
        <form asp-action="UserForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" required />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="divControlsSpace"></div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control"  required/>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="divControlsSpace"></div>
            <div class="form-group align-content-center">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@{
    if (ViewBag.SuccessMessage != null)
    {
        <div style="color:darkgreen; padding-top:10px; justify-content: center; display:flex;">
            @ViewBag.SuccessMessage
        </div>
    }
}
@*
<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
